<div class="col p-1 p-md-3 m-0" style="height:50%">
    <div class="row p-0 m-0 align-items-center text-center border rounded-3 bg-light shadow"
        style="height:100%; cursor:pointer" @onclick="OnPanelClickAsync">
        <div>
            <h1>@(PlayerName ?? $"Player {Player.ToString()}")</h1>
            <h2>Score: @_score jeeps</h2>
            <div style="color:@PlayerColor">
                <i class="fa-solid fa-truck-monster fa-2xl @_flipIcon[Convert.ToInt32(Player) % 2]"></i>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public Players Player { get; set; }
    [Parameter] public string? PlayerName { get; set; }
    [Parameter] public string? PlayerColor { get; set; } = "#000000";
    [Parameter] public EventCallback<Players> IncrementScore { get; set; }

    private int _score { get; set; }

    private string[] _flipIcon = { "fa-flip-horizontal", "" };



    public void SetScore(int newScore)
    {
        _score = newScore;
    }
    public void ClearScore()
    {
        _score = 0;
    }
}
@functions
{
    private async Task OnPanelClickAsync()
    {
        _score++;
        await IncrementScore.InvokeAsync(Player);
    }
}